
.card{
  height: 38.6rem;
  padding-bottom: 7.7rem;

  .card-header{
    font-size: 1.3rem;
  }

}

.copy.btn{
  font-size:1.7rem;
  padding: .5rem 1rem;

  &:before{
    content: '';
    float: left;
    width: 28.8px;
    height: 28.8px;
    background: url(/images/copy-icon.svg) no-repeat;
  }
}

table.att-sign{
  h5,h6{
    margin: 0;
  font: bold 11px arial;}
  h6{
    line-height: 1.45;
    white-space: nowrap;
    margin-bottom: 8px;
  }
}