@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_globals';

// Your variable overrides
// $card-bg: white;
$card-cap-bg: black;
$card-cap-color: white;
$card-bg: blue;
$card-cap-bg: rgb(61,52,65);

$input-border-width: 0;
$input-bg: transparent;


$body-bg: #f2f2f2;
$body-color: #111;
$dark: #021934;
$spacer: 2rem;
$input-btn-font-size: 1.4rem;



$md-primary-color: $cerulean-blue;

// $toolbar-height: 5rem;
$md-btn-text-border-radius: 3.6px;
$md-btn-desktop-font-size: 1.68rem;
$md-btn-desktop-height: 43.2px;

$md-select-field-left-padding: 0;

$md-btn-light-theme-base-color: red;
