

.container-fluid{
  background: transparent;

  .navbar{
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

    h3{
      background:url('/images/logo.svg') no-repeat left center;
      text-indent: 8.9rem;
    height: 2.8rem;
    line-height: 2.2rem;
    // font-size: 1.7re
    color: white;
    }
  }
  legend{
    font-size: 2.4rem;
    color: #4a4a4a;
  }

  .col{ max-width: 26%;}
  .preview{ max-width: 50%}
}



.form-group.field-string{
  label{display: none;}
  border-bottom: 1px solid gray;
}

button[type=submit]{
  display: none;
}

