@import '_globals';


.container-fluid{
  background: transparent;


  header{
    a{
      line-height: 5.1rem;
    }
    padding: 0 2.6rem;
    height: 6rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    background-color: $navy;

    h3{
      &.att{
        background:url('/images/att-logo.svg') no-repeat left center;
        background-size: auto;
        text-indent: 9rem;

        line-height: 2.6rem;
        // height: 2.8rem;
        }
        &.pop{
          background:url('/images/pop-icon.svg') no-repeat left center;
          background-size: auto;
          line-height: 3.6rem;
          // height: 3.6rem;
          text-indent: 7rem;

          }
    // font-size: 1.7re
    color: white;
    background-size: auto;
    }
  }

  legend{
    font-size: 2.4rem;
    color: #4a4a4a;

  }


  .col{ max-width: 26%;}
  .preview{ max-width: 50%}
}



.form-group.field-string{
  label{display: none;}
  border-bottom: 1px solid gray;
}

button[type=submit]{
  display: none;
}

